<!DOCTYPE html>
<html lang="en">
  <head th:include="common/layout::head-fragment">   
  </head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        
        <!-- side navigation -->
        <div class="col-md-3 left_col" id="sidebar" th:include="common/layout::sidebar-fragment">
        </div>
		<!-- side navigation -->
		
        <!-- top navigation -->
        <div class="top_nav" th:include="common/layout::topnav-fragment">
        </div>
        <!-- /top navigation -->

        <!-- page content -->
      
        <div class="right_col" role="main" id="main-content">
          <!-- top tiles -->
          	<tbody>
          	
          	<!-- list content -->
          	<div class="container">         	
          	<div th:if="${not #lists.isEmpty(devices)}">
          	<h2>Devices</h2>
          	<table class="table table-stripped table-bordered">          	        	
          	<tr>    
          	<!-- <th>id</th>   -->   
          	<th>Name</th>
          	<th>Description</th> 
          	<!--  <th>Actions</th>  -->                 		          	
          	</tr>        	
          	<tr  th:each="device : ${devices}">     
          	<!-- <td  th:text="${device.id}"></td>   -->  	
          	<td  th:text="${device.deviceName}"></td>          	         
          	<td  th:text="${device.description}"></td>    
          	<!-- <td  th:text="${device.modifiedBy}"></td>
          	<td  th:text="${device.modifiedDate}"></td> -->
          	<!-- <td><a href="#edit.html?id=${device.id}">Edit</a> | <a href="#devicesedit.html?id=${devicesedit.id}">View</a></td>   -->    	
          	</tr>
          	</table>
          	</div>            
          	<!-- /list content -->
          	
          	</div>
          	</tbody>   	  	                 	
        </div>    
        <!-- /page content -->

        <!-- footer content -->
        <footer th:include="common/layout::footer-fragment">         
        </footer>
        <!-- /footer content -->
      </div>
    </div>
    <div th:include="common/layout::commonscripts-fragment">    	
    </div>   
  </body>
</html>