<!DOCTYPE html>
<html lang="en">
  <head th:include="common/layout::head-fragment">
    
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        
        <!-- side navigation -->
        <div class="col-md-3 left_col" id="sidebar" th:include="common/layout::sidebar-fragment">
        </div>
		<!-- side navigation -->
		
        <!-- top navigation -->
        <div class="top_nav" th:include="common/layout::topnav-fragment">
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main" id="main-content">
          <!-- top tiles -->
          	
        
       <h2> Devices has been added successfully.</h2>
       
       <a href="/deviceaddingform" th:href="@{/deviceaddingform}"> <span class="btn btn-primary pull-right">Add device</span></a>
          	
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:include="common/layout::footer-fragment">
          
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <div th:include="common/layout::commonscripts-fragment">
    	
    </div>
    
  </body>
</html>